<a href="https://colab.research.google.com/github/poonampal/AIML/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/temps.csv')
df.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [3]:
df.isnull().sum()

year              0
month             0
day               0
week              0
temp_2            0
temp_1            0
average           0
actual            0
forecast_noaa     0
forecast_acc      0
forecast_under    0
friend            0
dtype: int64

In [4]:
df.shape

(348, 12)

In [5]:
df.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [6]:
X_train = pd.get_dummies(df)

In [7]:
X_train.iloc[:,5:]

,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [8]:
X_train.iloc[:,0:].head()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [9]:
import numpy as np

In [10]:
labels = np.array(X_train['actual'])

X_train = X_train.drop('actual', axis=1)

In [12]:
feature_list = list(X_train.columns)

In [13]:
feature_list

['year',
 'month',
 'day',
 'temp_2',
 'temp_1',
 'average',
 'forecast_noaa',
 'forecast_acc',
 'forecast_under',
 'friend',
 'week_Fri',
 'week_Mon',
 'week_Sat',
 'week_Sun',
 'week_Thurs',
 'week_Tues',
 'week_Wed']

In [14]:
X_train.head()

,year,month,day,temp_2,temp_1,average,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,46,46,46,41,0,0,0,0,0,1,0

In [15]:
features = np.array(X_train)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
train_x, test_x, train_y, test_y = train_test_split(features, labels, test_size=0.25, random_state=42)

In [18]:
train_x.shape, train_y.shape,  test_x.shape, test_y.shape

((261, 17), (261,), (87, 17), (87,))

In [19]:
baseline_preds = test_x[:,feature_list.index('average')]
baseline_preds

array([66.1, 60.7, 48. , 61. , 70.4, 63. , 77.1, 76.6, 55.6, 68. , 54.2,
       68.3, 45.9, 59.9, 71.5, 49.4, 52.2, 54.5, 51.3, 72.4, 63.3, 50. ,
       69.7, 59.9, 55.2, 48.3, 66.1, 46.5, 65.9, 76. , 59.7, 61.2, 48. ,
       76.5, 77.4, 51.2, 49.6, 48.7, 73.5, 45.1, 61.6, 55.5, 59.4, 46.1,
       57.8, 61.9, 51.5, 76.8, 53.9, 46.4, 45.1, 45.9, 64.9, 66.8, 72.1,
       56.5, 50.1, 54.5, 53.7, 60.5, 68.8, 48.9, 52.4, 70. , 54.3, 56.8,
       73.3, 74. , 76.6, 46. , 72.6, 54.6, 56.3, 47.4, 52.8, 63.4, 46.3,
       76.9, 45.3, 49.1, 50. , 56.9, 67.9, 70. , 63.7, 51.9, 45.1])

In [20]:
baseline_errors = abs(baseline_preds-test_y)
round(np.mean(baseline_errors),2)

5.06

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(train_x, train_y)

RandomForestRegressor(random_state=42)

In [23]:
predictions = rf.predict(test_x)

In [24]:
errors = abs(predictions - test_y)

round(np.mean(errors), 2)

3.95

In [27]:
mape = 100 * (errors/test_y)
accuracy = 100 - np.mean(mape)
accuracy

93.82578426837051

In [28]:
rf_small = RandomForestRegressor(n_estimators=10, max_depth=3)
rf_small.fit(train_x, train_y)

tree_small = rf_small.estimators_[5]

In [30]:
importances = list(rf.feature_importances_)
importances

[0.0,
 0.010138685140135818,
 0.020807652033838987,
 0.01850845507142344,
 0.6786362466534587,
 0.13572199920070357,
 0.03137579883293478,
 0.04541038155954813,
 0.021538170624917325,
 0.019980318807584205,
 0.003144774544758813,
 0.002548624359459777,
 0.004205717593604845,
 0.002609807471743651,
 0.0012261420680799,
 0.002048271669869093,
 0.0020989543679390274]

In [31]:
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

feature_importances = sorted(feature_importances, key = lambda x: x[1] , reverse = True)

feature_importances

[('temp_1', 0.68),
 ('average', 0.14),
 ('forecast_acc', 0.05),
 ('forecast_noaa', 0.03),
 ('day', 0.02),
 ('temp_2', 0.02),
 ('forecast_under', 0.02),
 ('friend', 0.02),
 ('month', 0.01),
 ('year', 0.0),
 ('week_Fri', 0.0),
 ('week_Mon', 0.0),
 ('week_Sat', 0.0),
 ('week_Sun', 0.0),
 ('week_Thurs', 0.0),
 ('week_Tues', 0.0),
 ('week_Wed', 0.0)]